<footer class="fixed-bottom page-footer font-small blue">
    <div class="footer-copyright text-center py-2">
        <hr/>
        &copy; 2020 Copyright: <a href="https://palata.at" target="_blank" rel="noopener noreferrer">palata.at</a>
        <br/>
        Project Source: <a href="https://gitlab.com/Sheldor5/keepass-webstorage" target="_blank"
                           rel="noopener noreferrer"><img alt="GitLab"
            src="https://about.gitlab.com/images/press/logo/png/gitlab-icon-rgb.png" height="24px" width="24px">
        KeePass WebStorage</a>
    </div>
</footer>
