<div  xmlns:th="http://www.thymeleaf.org">
    <div id="successWindow" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="successWindowLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successWindowLabel">Success</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3 class="text-success font-weight-bold">Success</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <script type="application/javascript">
        const successWindow = $('#successWindow');
        function transitToSuccess(previousWindow, reload) {
            previousWindow.modal('hide');
            successWindow.modal('show');
            if (reload === true) {
                successWindow.on('hidden.bs.modal', function () {
                    window.location.reload(true);
                });
            } else {
                successWindow.on('hidden.bs.modal', function () {
                    // do nothing
                });
            }
        }
    </script>
</div>
