<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>KeePass WebStorage</title>
    <link rel="shortcut icon" th:href="@{favicon.ico}"/>

    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" th:href="@{css/bootstrap/4.4.1/bootstrap.min.css}">

    <!-- https://github.com/BlackrockDigital/startbootstrap-simple-sidebar -->
    <link rel="stylesheet" th:href="@{css/simple-sidebar/5.1.1/simple-sidebar.css}"/>

    <!-- https://jquery.com/ -->
    <script th:src="@{js/jquery/3.4.1/jquery-3.4.1.min.js}"></script>

    <!-- https://popper.js.org/ -->
    <script th:src="@{js/popper/1.16.0/popper.min.js}"></script>

    <!-- https://getbootstrap.com/ -->
    <script th:src="@{js/bootstrap/4.4.1/bootstrap.min.js}"></script>

    <!-- https://github.com/ablanco/jquery.pwstrength.bootstrap -->
    <script th:src="@{js/pwstrength/3.0.7/pwstrength-bootstrap.min.js}"></script>

    <!-- KeePass WebStorage JS -->
    <script type="application/javascript" th:src="@{js/lib.js}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        const contextPath = /*[[${contextPath}]]*/ '/';
        /*]]>*/
    </script>
</head>
