<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: head"><title>KeePass WebStorage</title></head>
<body>
<div th:replace="fragments/global :: div"></div>
<div class="d-flex" id="wrapper">
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
            <div class="sidebar-heading"><h4>Server Status</h4></div>
            <div class="list-group-item list-group-item-action bg-light">
                Backups: <text th:if="${server.isBackupsEnabled()}" class="text-success">enabled</text><text th:unless="${server.isBackupsEnabled()}" class="text-danger">disabled</text>
            </div>
            <div class="list-group-item list-group-item-action bg-light">
                Updates: <text th:if="${server.isUpdatesAllowed()}" class="text-success">enabled</text><text th:unless="${server.isUpdatesAllowed()}" class="text-danger">disabled</text>
            </div>
        </div>
    </div>
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <h5>Admin Panel</h5>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/user}">
                            <button class="btn btn-outline-dark my-2 my-sm-0" >Database</button>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}">
                            <button class="btn btn-outline-primary my-2 my-sm-0" >Home</button>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <div class="nav-link" href="">
                            <button class="btn btn-outline-danger my-2 my-sm-0" onclick="logout()">Logout</button>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid">
            <h3 class="mt-4">Server Management</h3>
            <hr/>
            <a href="#" data-toggle="modal" data-target="#serverSettingsWindow">
                <button class="btn btn-primary">Server Settings</button>
            </a>
            <h3 class="mt-4">User Management</h3>
            <hr/>
            <a href="#" data-toggle="modal" data-target="#createUserWindow">
                <button class="btn btn-primary">Create User</button>
            </a>
            <br/>
            <br/>
            <a href="#" data-toggle="modal" data-target="#searchUserWindow">
                <button class="btn btn-primary">Edit User</button>
            </a>
        </div>
    </div>
</div>

<!-- ####################################################################################################################################################################################################### -->

<!-- CHANGE SERVER SETTINGS WINDOW -->
<div id="serverSettingsWindow" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog"
     aria-labelledby="serverSettingsWindowLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="serverSettingsWindowLabel">Server Settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="serverSettingsError" class="text-danger font-weight-bold" style="display: none"></p>
                <form id="serverSettingsForm" th:action="@{/api/admin/server}">
                    <div class="form-check mb-3">
                        <input type="checkbox" name="backupsEnabled" class="form-check-input" id="serverBackupsEnabled" th:checked="${server.isBackupsEnabled()}">
                        <label class="form-check-label" for="serverBackupsEnabled">Backups</label>
                    </div>
                    <div class="form-check mb-3">
                        <input type="checkbox" name="updatesAllowed" class="form-check-input" id="serverUpdatesAllowed" th:checked="${server.isUpdatesAllowed()}">
                        <label class="form-check-label" for="serverUpdatesAllowed">Updates</label>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Update</button>
                </form>
                <script type="application/javascript">
                    $(document).ready(function () {
                        const serverSettingsWindow = $('#serverSettingsWindow');
                        const serverSettingsForm = $('#serverSettingsForm');
                        const serverSettingsError = $('#serverSettingsError');

                        const backupsEnabledCheckbox = $('#serverBackupsEnabled');
                        const updatesAllowedCheckbox = $('#serverUpdatesAllowed');

                        serverSettingsForm.on('submit', function (event) {
                            event.preventDefault();
                            $.ajax({
                                type: 'PUT',
                                url: $(this).attr('action'),
                                data: JSON.stringify(formToObject(serverSettingsForm)),
                                contentType: 'application/json; charset=utf-8'
                            }).done(function (data, textStatus, jqXHR) {
                                transitToSuccess(serverSettingsWindow, true);
                            }).fail(function (jqXHR, textStatus, errorThrown) {
                                serverSettingsError.show();
                                if (jqXHR.responseText !== null && jqXHR.responseText !== '') {
                                    serverSettingsError.text(jqXHR.responseText);
                                } else {
                                    serverSettingsError.text('Response Code ' + jqXHR.status);
                                }
                            });
                        });
                    });
                </script>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- CHANGE SERVER SETTINGS WINDOW -->

<!-- ####################################################################################################################################################################################################### -->

<!-- CREATE USER WINDOW -->
<div id="createUserWindow" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog"
     aria-labelledby="createUserWindowLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createUserWindowLabel">Create User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="createUserError" class="text-danger font-weight-bold" style="display: none"></p>
                <form id="createUserForm" th:action="@{/api/admin/users}">
                    <div class="form-group">
                        <label for="username3">Username</label>
                        <input id="username3" type="text" class="form-control" name="username">
                    </div>
                    <div class="form-group">
                        <label for="password2">Password</label>
                        <input id="password2" type="password" class="form-control" name="password">
                        <small class="form-text text-muted">Please enter the password.</small>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword2">Confirm Password</label>
                        <input id="confirmPassword2" type="password" class="form-control" name="confirmPassword">
                        <small class="form-text text-muted">Please enter the password again.</small>
                    </div>
                    <div class="form-check mb-3">
                        <input type="checkbox" name="backupsEnabled" class="form-check-input" id="backupsEnabled2">
                        <label class="form-check-label" for="backupsEnabled2">Backups</label>
                    </div>
                    <div class="form-check mb-3">
                        <input type="checkbox" name="updatesAllowed" class="form-check-input" id="updatesAllowed2">
                        <label class="form-check-label" for="updatesAllowed2">Updates</label>
                    </div>

                    <button type="submit" class="btn btn-primary pull-right">Create</button>
                </form>
                <script type="application/javascript">
                    $(document).ready(function () {
                        const createUserWindow = $('#createUserWindow');
                        const createUserForm = $('#createUserForm');
                        const createUserError = $('#createUserError');

                        const password = $('#password2');
                        const confirmPassword = $('#confirmPassword2');
                        const passwordStrength = password.pwstrength({
                            ui: {showVerdictsInsideProgressBar: true}
                        });
                        const matchPasswords = function() {
                            if (password.val() === confirmPassword.val()) {
                                confirmPassword.removeClass('is-invalid');
                            } else {
                                confirmPassword.addClass('is-invalid');
                            }
                        };
                        password.on('keyup', matchPasswords);
                        confirmPassword.on('keyup', matchPasswords);

                        createUserForm.on('submit', function (event) {
                            event.preventDefault();
                            $.ajax({
                                type: 'POST',
                                url: $(this).attr('action'),
                                data: JSON.stringify(formToObject(createUserForm)),
                                contentType: 'application/json; charset=utf-8'
                            }).done(function (data, textStatus, jqXHR) {
                                createUserForm[0].reset();
                                createUserError.hide();
                                transitToSuccess(createUserWindow);
                            }).fail(function (jqXHR, textStatus, errorThrown) {
                                createUserError.show();
                                if (jqXHR.status === 404) {
                                    createUserError.text("User not found!");
                                } else if (jqXHR.responseText !== null && jqXHR.responseText !== '') {
                                    createUserError.text(jqXHR.responseText);
                                } else {
                                    createUserError.text('Response Code ' + jqXHR.status);
                                }
                            });
                        });
                    });
                </script>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- CREATE USER WINDOW -->

<!-- ####################################################################################################################################################################################################### -->

<!-- EDIT USER WINDOW -->
<div id="editUserWindow" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog"
     aria-labelledby="editUserWindowLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUserWindowLabel">Edit User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="editUserError" class="text-danger font-weight-bold" style="display: none"></p>
                <form id="editUserForm" th:action="@{/api/admin/user}">
                    <div class="form-group">
                        <label for="username1">Username</label>
                        <text id="username1" class="form-control" readonly></text>
                    </div>
                    <div class="form-group">
                        <label for="newPassword1">New Password (optional)</label>
                        <input id="newPassword1" type="password" class="form-control" name="newPassword">
                        <small class="form-text text-muted">Please enter the new password.</small>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword1">Confirm Password</label>
                        <input id="confirmPassword1" type="password" class="form-control" name="confirmPassword">
                        <small class="form-text text-muted">Please enter the new password again.</small>
                    </div>
                    <div class="form-check mb-3">
                        <input type="checkbox" name="backupsEnabled" class="form-check-input" id="backupsEnabled1">
                        <label class="form-check-label" for="backupsEnabled1">Backups</label>
                    </div>
                    <div class="form-check mb-3">
                        <input type="checkbox" name="updatesAllowed" class="form-check-input" id="updatesAllowed1">
                        <label class="form-check-label" for="updatesAllowed1">Updates</label>
                    </div>

                    <button type="submit" class="btn btn-primary pull-right">Update</button>
                </form>
                <script type="application/javascript">
                    $(document).ready(function () {
                        const editUserWindow = $('#editUserWindow');
                        const editUserForm = $('#editUserForm');
                        const editUserError = $('#editUserError');

                        const editUserFormUsername = $('#username1');
                        const newPassword = $('#newPassword1');
                        const confirmPassword = $('#confirmPassword1');
                        const newPasswordStrength = newPassword.pwstrength({
                            ui: {showVerdictsInsideProgressBar: true}
                        });
                        const matchPasswords = function() {
                            if (newPassword.val() === confirmPassword.val()) {
                                confirmPassword.removeClass('is-invalid');
                            } else {
                                confirmPassword.addClass('is-invalid');
                            }
                        };
                        newPassword.on('keyup', matchPasswords);
                        confirmPassword.on('keyup', matchPasswords);

                        editUserForm.on('submit', function (event) {
                            event.preventDefault();
                            let body = formToObject(editUserForm);
                            delete body['username'];
                            $.ajax({
                                type: 'PUT',
                                url: $(this).attr('action') + '/' + editUserFormUsername.text(),
                                data: JSON.stringify(body),
                                contentType: 'application/json; charset=utf-8'
                            }).done(function (data, textStatus, jqXHR) {
                                editUserForm[0].reset();
                                editUserError.hide();
                                transitToSuccess(editUserWindow);
                            }).fail(function (jqXHR, textStatus, errorThrown) {
                                editUserError.show();
                                if (jqXHR.status === 404) {
                                    editUserError.text("User not found!");
                                } else if (jqXHR.responseText !== null && jqXHR.responseText !== '') {
                                    editUserError.text(jqXHR.responseText);
                                } else {
                                    editUserError.text('Response Code ' + jqXHR.status);
                                }
                            });
                        });
                    });
                </script>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- EDIT USER WINDOW -->

<!-- ####################################################################################################################################################################################################### -->

<!-- SEARCH USER WINDOW -->
<div id="searchUserWindow" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog"
     aria-labelledby="searchUserWindowLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="searchUserWindowLabel">Edit User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="searchUserError" class="text-danger font-weight-bold" style="display: none"></p>
                <form id="searchUserForm" th:action="@{/api/admin/user}">
                    <div class="form-group">
                        <label for="username2">Username</label>
                        <input id="username2" type="text" required="required" class="form-control" name="username">
                        <small class="form-text text-muted">Please enter an username.</small>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Search</button>
                </form>
                <script type="application/javascript">
                    $(document).ready(function () {
                        const searchUserWindow = $('#searchUserWindow');
                        const searchUserForm = $('#searchUserForm');
                        const searchUserUsernameText = $('#username2');
                        const searchUserError = $('#searchUserError');

                        const editUserWindow = $('#editUserWindow');
                        const editUserFormUsername = $('#username1');
                        const editUserFormBackupsEnabled = $('#backupsEnabled1');
                        const editUserFormUpdatesAllowed = $('#updatesAllowed1');

                        searchUserForm.on('submit', function (event) {
                            event.preventDefault();
                            let username = searchUserUsernameText.val();

                            $.ajax({
                                type: 'GET',
                                url: $(this).attr('action') + '/' + encodeURIComponent(username),
                                dataType: 'json'
                            }).done(function (data, textStatus, jqXHR) {
                                searchUserForm[0].reset();
                                searchUserError.hide();
                                searchUserWindow.modal('hide');
                                editUserFormUsername.text(username);
                                editUserFormBackupsEnabled.prop('checked', data.backupsEnabled);
                                editUserFormUpdatesAllowed.prop('checked', data.updatesAllowed);
                                editUserWindow.modal('show');
                            }).fail(function (jqXHR, textStatus, errorThrown) {
                                searchUserError.show();
                                if (jqXHR.status === 404) {
                                    searchUserError.text("User not found!");
                                } else {
                                    searchUserError.text('Response Code ' + textStatus + ': ' + jqXHR.responseText);
                                }
                            })
                        });
                    });
                </script>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- SEARCH USER WINDOW -->

<!-- ####################################################################################################################################################################################################### -->

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
