<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${message}"></title>
</head>
<body>
<h1 th:text="${status} + ' - ' + ${message}"></h1>
</body>
</html>