<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: head"><title>KeePass WebStorage</title></head>
<body>
<br/>
<br/>
<div class="container">
    <div class="text-center">
        <div class="d-inline-block">
            <div style="overflow: hidden">
                <!--<img src="https://keepass.info/images/il_main_v02.png" alt="KeePass" style="background-color: transparent; margin: 1px 1px" width="250px" height="250px">-->
                <img src="img/KeePassCloud.png" alt="KeePass" style="width: 75px; height: 75px; background-color: transparent;">
            </div>
        </div>
        <div class="d-inline-block">
            <h1 class="display-1 text-center">&nbsp;KeePass&nbsp;WebStorage</h1>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm display-4 text-center">
            Keep your secrets online!
            <!--<bold class="font-weight-bold">Kee</bold>p your <bold class="font-weight-bold">Pass</bold>words online!-->
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm text-center">
            <img src="img/keepass_open_url.png"/>
        </div>
    </div>
    <br/>
    <div class="row">
        <div sec:authorize="!isAuthenticated()" class="col-sm text-center">
            <a th:href="@{/user}">
                <button class="btn btn-outline-primary my-2 my-sm-0">Login</button>
            </a>
        </div>
        <div sec:authorize="isAuthenticated()" class="col-sm text-center">
            <a th:href="@{/user}">
                <button class="btn btn-outline-dark my-2 my-sm-0">Database</button>
            </a>
        </div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-sm text-center">
        <h5>&gt;&nbsp;Multi-User&nbsp;&lt;</h5>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-sm text-center">
        <h5>&gt;&nbsp;Backup and Restore&nbsp;&lt;</h5>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-sm text-center">
        <h5>&gt;&nbsp;BasicAuth Protection&nbsp;&lt;</h5>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-sm text-center">
        <h5>&gt;&nbsp;<a th:href="@{/swagger-ui.html}">REST API</a>&nbsp;&lt;</h5>
    </div>
</div>
<br/>
<br/>
<br/>
<br/>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
