<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: head"><title>KeePass WebStorage</title></head>
<body>
<div th:replace="fragments/global :: div"></div>
<div class="d-flex">
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
            <div class="sidebar-heading"><h4>Server Status</h4></div>
            <div class="list-group-item list-group-item-action bg-light">
                Backups:
                <text th:if="${server.isBackupsEnabled()}" class="text-success">enabled</text>
                <text th:unless="${server.isBackupsEnabled()}" class="text-danger">disabled</text>
            </div>
            <div class="list-group-item list-group-item-action bg-light">
                Updates:
                <text th:if="${server.isUpdatesAllowed()}" class="text-success">enabled</text>
                <text th:unless="${server.isUpdatesAllowed()}" class="text-danger">disabled</text>
            </div>
            <div class="list-group-item list-group-item-action bg-light">
                <text class="text-success">
                    <a th:href="@{/swagger-ui.html}">Swagger-UI</a>
                </text>
            </div>
            <div class="sidebar-heading"><h5>Account</h5></div>
            <div class="list-group-item list-group-item-action bg-light">
                <a href="#" data-toggle="modal" data-target="#changePasswordWindow">Change Password</a>
            </div>
            <div class="list-group-item list-group-item-action bg-light">
            </div>
        </div>
    </div>
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <h4 th:text="${user.getUsername()}"></h4>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active" th:if="${user.getIsAdmin()}">
                        <a class="nav-link active" th:href="@{/admin}">
                            <button class="btn btn-outline-warning my-2 my-sm-0">Admin Panel</button>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}">
                            <button class="btn btn-outline-primary my-2 my-sm-0">Home</button>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <div class="nav-link">
                            <button class="btn btn-outline-danger my-2 my-sm-0" onclick="logout()">Logout</button>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div th:if="${action.equals('')}" class="container-fluid">
            <h3 class="mt-4">My <img src="img/KeePassCloud.png" style="margin-top: -10px" alt="KeePass" width="30px" height="30px"> Database&nbsp;<a th:href="@{/user}"><img src="icons/open-iconic-v1.1.0/png/reload-2x.png" alt="Reload" style="margin-top: -8px"></a></h3>
            <div class="row">
                <div class="col-md-1">
                    <img src="img/keepass_open_url_entry.png" alt="Open URL...">
                </div>
                <div class="col-md-11">
                    <samp><input id="openUrl" type="text" class="w-75"
                                 th:value="@{/database} + '/' + ${#authentication.getName()}" onclick="select(this.id)"
                                 readonly/></samp>
                    <label for="openUrl">
                        <a href="#" onclick="copyToClipboard('openUrl')">
                            <img id="clipboard" src="icons/open-iconic-v1.1.0/png/clipboard-2x.png"
                                 alt="Copy to Clipboard" title="Copy to Clipboard">
                        </a>
                    </label>
                    <script type="application/javascript">
                        const openUrl = document.getElementById("openUrl");
                        openUrl.value = window.location.origin + openUrl.value;
                    </script>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 font-weight-bold">
                    Download
                </div>
                <div class="col-md-11">
                    <samp><a th:href="@{/database} + '/' + ${#authentication.getName()}">database.kdbx</a></samp>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 font-weight-bold">
                    Timestamp
                </div>
                <div class="col-md-11" th:text="${lastModified}"></div>
            </div>
            <div class="row">
                <div class="col-md-1 font-weight-bold">
                    Backups
                </div>
                <div th:if="${user.getBackupsEnabled()}" class="col-md-6 text-success">
                    <span th:text="${backupCount}"></span> (<a href="#" data-toggle="modal" data-target="#showBackupsWindow">Show Backups</a>)
                </div>
                <div th:unless="${user.getBackupsEnabled()}" class="col-md-6 text-danger">disabled</div>
            </div>
            <div class="row">
                <div class="col-md-1 font-weight-bold">
                    Save online
                </div>
                <div th:if="${user.getUpdatesAllowed()}" class="col-md-6 text-success">Yes</div>
                <div th:unless="${user.getUpdatesAllowed()}" class="col-md-6 text-danger">Read Only</div>
            </div>
        </div>
    </div>
</div>

<!-- ####################################################################################################################################################################################################### -->

<!-- CHANGE PASSWORD WINDOW -->
<div id="changePasswordWindow" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog"
     aria-labelledby="changePasswordWindowLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changePasswordWindowLabel">Change Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="changePasswordError" class="text-danger font-weight-bold" style="display: none">
                    ERROR
                </p>
                <form id="changePasswordForm" th:action="@{/api/user}">
                    <div class="form-group">
                        <label for="oldPassword">Current Password</label>
                        <input id="oldPassword" type="password" class="form-control" name="oldPassword" required="required">
                        <small id="oldPasswordHelp" class="form-text text-muted">Please enter your current password.</small>
                    </div>
                    <div class="form-group">
                        <label for="newPassword">New Password</label>
                        <input id="newPassword" type="password" class="form-control" name="newPassword" required="required">
                        <small id="newPasswordHelp" class="form-text text-muted">Please enter your new password.</small>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirm Password</label>
                        <input id="confirmPassword" type="password" class="form-control" name="confirmPassword" required="required">
                        <small id="confirmPasswordHelp" class="form-text text-muted">Please enter your new password again.</small>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Change Password</button>
                </form>
                <script type="application/javascript">
                    $(document).ready(function () {
                        const changePasswordWindow = $('#changePasswordWindow');
                        const changePasswordForm = $('#changePasswordForm');
                        const changePasswordError = $('#changePasswordError');

                        const newPassword = $('#newPassword');
                        const confirmPassword = $('#confirmPassword');
                        const newPasswordStrength = newPassword.pwstrength({
                            ui: {showVerdictsInsideProgressBar: true}
                        });
                        const matchPasswords = function() {
                            if (newPassword.val() === confirmPassword.val()) {
                                confirmPassword.removeClass('is-invalid');
                            } else {
                                confirmPassword.addClass('is-invalid');
                            }
                        };
                        newPassword.on('keyup', matchPasswords);
                        confirmPassword.on('keyup', matchPasswords);

                        changePasswordForm.on('submit', function (event) {
                            event.preventDefault();
                            $.ajax({
                                type: 'PUT',
                                url: $(this).attr('action'),
                                data: JSON.stringify(formToObject(changePasswordForm)),
                                contentType: 'application/json; charset=utf-8'
                            }).done(function (data, textStatus, jqXHR) {
                                changePasswordForm.get(0).reset(); // reset() only works on underlying JavaScript object (.get(0)) and not on the jQuery object
                                changePasswordError.hide();
                                transitToSuccess(changePasswordWindow);
                            }).fail(function (jqXHR, textStatus, errorThrown) {
                                changePasswordError.show();
                                changePasswordError.text(jqXHR.responseText);
                            });
                        });
                    });
                </script>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- CHANGE PASSWORD WINDOW -->

<!-- ####################################################################################################################################################################################################### -->

<!-- SHOW BACKUPS WINDOW -->
<div id="showBackupsWindow" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="showBackupsWindowTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="showBackupsWindowTitle">Backups</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="showBackupsError" class="text-danger font-weight-bold" style="display: none">
                    ERROR
                </p>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Version</th>
                            <th scope="col" class="">Timestamp</th>
                            <th scope="col" class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody id="showBackupsTable" th:versionsPath="@{/api/database/versions}" th:versionPath="@{/api/database/version}">
                    </tbody>
                </table>
                <script type="application/javascript">
                    const showBackupsWindow = $('#showBackupsWindow');
                    const showBackupsTable = $('#showBackupsTable');
                    const showBackupsError = $('#showBackupsError');
                    const versionsUrl = showBackupsTable.attr('versionsPath');
                    const versionUrl = showBackupsTable.attr('versionPath') + '/';

                    const showBackupsSuccess = function (json) {
                        showBackupsTable.empty();
                        $.each(json, function(i, item) {
                            let $tr = $('<tr>').append(
                                $('<td>').attr('scope', 'row').text(item.version),
                                $('<td>').attr('scope', 'row').attr('class', '').text(item.lastModified),
                                $('<td>').attr('scope', 'row').attr('class', 'text-center').append(
                                    $('<a>').attr('href', '#').attr('onclick', "versionApiCall(" + item.version + ", 'DELETE')").text('[Delete]'),
                                    $('<a>').attr('href', versionUrl + item.version).text('[Download]'),
                                    $('<a>').attr('href', '#').attr('onclick', "versionApiCall(" + item.version + ", 'PUT')").text('[Restore]'),
                                    $('<a>').attr('href', '#').attr('onclick', "versionApiCall('0/" + item.version + "', 'DELETE')").text('[Clear]'),
                                ),
                            );
                            showBackupsTable.append($tr);
                        });
                    };

                    const versionApiCall = function (version, method) {
                        $.ajax({
                            method: method,
                            url: versionUrl + version
                        }).done(function(data, textStatus, jqXHR) {
                            showBackupsError.hide();
                            showBackupsError.text(null);
                            transitToSuccess(showBackupsWindow, true);
                        }).fail(function(jqXHR, textStatus, errorThrown) {
                            showBackupsError.text(jqXHR.status);
                            showBackupsError.show();
                        });
                    };

                    $(document).ready(function () {
                        showBackupsWindow.on('shown.bs.modal', function (event) {
                            $.ajax({
                                method: 'GET',
                                url: versionsUrl,
                                dataType: 'json'
                            }).done(function(data, textStatus, jqXHR) {
                                showBackupsSuccess(data, showBackupsTable);
                            }).fail(function(jqXHR, textStatus, errorThrown) {
                                showBackupsError.show();
                                showBackupsError.text(jqXHR.message);
                            });
                        });
                    });
                </script>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- SHOW BACKUPS WINDOW -->

<!-- ####################################################################################################################################################################################################### -->

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
